:host, #panel {
  min-width: 22rem;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}

#gutter {
  border: none;
  width: 6px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

#close {
  border: solid 1px #999;
  border-right: none;
  color: #999;
  padding: 0.7rem 0 0.7rem 0.5rem;
  border-radius: 10px 0  0 10px;
  width: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  top: 5.8rem;
  right: 22rem;
  background-color: #fff;
  cursor: pointer;
}

#close i:before {
  content: "\f00d";
}

#close:hover {
  border-color: #000;
  color: #000;
}

#content {
  position: absolute;
  top : 0;
  left: 6px;
  right: 0;
  bottom: 0;
  background : #fff;
  padding : 1.5rem;
  margin: 0;
  overflow: visible;
}

#content div.option {
  margin-top: 0.5rem;
  display: flex;
}

#content button {
  float: right;
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
  background-color: #444;
  color: #fff;
  border-radius: 3px;
  outline: 0;
  border: solid 1px #444;
  cursor: pointer;
}

#content button:hover {
  background-color: #000;
}

#content #printList {
  margin-top : 8rem;
}

#printList div.girafe {
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  border: solid 1px #999;
  text-align: left;
  width: 100%;
  max-width: 16rem;
  min-width: 13rem;
  color: #666;
}

div.girafe i {
  margin-right: 1rem;
  float: left;
}

div.girafe span {
  display: block;
  line-height: 1.3rem;
}

div.girafe span.time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5rem;
}

label {
  display: inline-block;
  width: 5rem;
  text-align: right;
  line-height: 2.5rem;
  margin-right: 0.5rem;
  flex-grow: 0;
}

label[for=comment] {
  line-height: 1.5rem;
}

label:after {
  content: ' :';
}

select, #title, #comment {
  appearance: none;
  outline: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1rem;
  color: #000;
  background-color: #fff;
  border: solid 1px #444;
  background-image: none;
  cursor: pointer;
  min-width: 4rem;
}

#comment {
  height: 6rem;
  padding: 0.5rem 1rem;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 13rem;
  height: 2.5rem;
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
}

.select::after {
  content: "\25bc";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  background-color: #444;
  color: #fff;
  pointer-events: none;
}

.select:hover::after {
  background-color: #000;
}
