<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="panel">
  <div id="gutter"></div>
  <div id="close">
    <i class="fa-solid"></i>
  </div>
  <div id="content">

    <div class="option">
      <label for="layout">Layout</label>
      <div class="select">
        <select id="layout"></select>
      </div>
    </div>

    <div class="option">
      <label for="scale">Scale</label>
      <div class="select">
        <select id="scale"></select>
      </div>
    </div>

    <div class="option">
      <label for="format">Format</label>
      <div class="select">
        <select id="format"></select>
      </div>
    </div>

    <div class="option">
      <label for="title">Title</label>
      <input id="title"></input>
    </div>

    <div class="option">
      <label for="comment">Comment</label>
      <textarea id="comment"></textarea>
    </div>

    <button id="export-pdf">Print</button>

    <div id="printList"></div>

  </div>

</div>