<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="container">
  <slot name="menu-button">
    <button id="button" title="TODO: Generate this label from the button configuration"></button>
  </slot>

  <div id="menu-content" tabindex="-1">
    <slot name="menu-content"></slot>
  </div>
</div>