<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-language" open="left">
  <div slot="menu-content">
    ${this.languages.map((language, i) => uHtml`
      <girafe-button text="${language.toUpperCase()}" icon-style="fa-xl fa-solid fa-language" onclick="${() => this.changeLanguage(language)}"></girafe-button>`
    )}
  </div>
</girafe-menu-button>
