#draggable {
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

#header {
  padding: 0.5rem;
  cursor: grabbing;
  z-index: 10;
  background-color: #666;
  color: #fff;
  text-align: center;
}

#content {
  padding: 0rem 2rem;
  width: 23rem;
  height: 13rem;

}

#close {
  cursor: pointer;
  float: right;
}

img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.2rem;
}