<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="draggable">
  <div id="header">HEADER</div>
  <div id="content"></div>
  <div id="footer">
    <a id="previous"><i class="fa-solid fa-xl fa-circle-arrow-left"></i></a>
    <a id="next"><i class="fa-solid fa-xl fa-circle-arrow-right"></i></a>
    <p id="counter">1/5</p>
  </div>
</div>
