<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-globe" text="2D / 3D" open="left">
  <div slot="menu-content">
    <girafe-button icon-style="fa-xl fa-solid fa-map" text="2D" 
                   onclick="this.state.globe.display='none'">
    </girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-right-left" text="Both" 
                   onclick="this.state.globe.display='side'">
    </girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-earth-europe" text="3D" 
                   onclick="this.state.globe.display='full'">
    </girafe-button>
  </div>
</girafe-menu-button>
